# Appending & concatenating Series

### append()
- .append(): Series & DataFrame method
-  Invocation:
-  s1.append(s2)
- Stacks rows of s2 below s1
- Method for Series & DataFrames

### concat()
-  concat(): pandas module function
- Invocation:
- pd.concat([s1, s2, s3])
- Can stack row-wise or column-wise

### concat() & .append()
- Equivalence of concat() & .append():
- result1 = pd.concat([s1, s2, s3])
- result2 = s1.append(s2).append(s3)
- result1 == result2 elementwise

### Series of US states

In [1]:
import pandas as pd

northeast = pd.Series(['CT', 'ME', 'MA', 'NH', 'RI', 'VT','NJ', 'NY', 'PA'])

south = pd.Series(['DE', 'FL', 'GA', 'MD', 'NC', 'SC', 'VA', 'DC', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA', 'OK', 'TX'])

midwest = pd.Series(['IL', 'IN', 'MN', 'MO', 'NE', 'ND', 'SD', 'IA', 'KS', 'MI', 'OH', 'WI'])
    
west = pd.Series(['AZ', 'CO', 'ID', 'MT', 'NV', 'NM', 'UT', 'WY', 'AK', 'CA', 'HI', 'OR','WA'])

### Using .append()

In [2]:
east = northeast.append(south)
east

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
0     DE
1     FL
2     GA
3     MD
4     NC
5     SC
6     VA
7     DC
8     WV
9     AL
10    KY
11    MS
12    TN
13    AR
14    LA
15    OK
16    TX
dtype: object

### The appended Index

In [3]:
east.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  0,  1,  2,  3,  4,  5,  6,  7,
             8,  9, 10, 11, 12, 13, 14, 15, 16],
           dtype='int64')

In [4]:
east.loc[3]

3    NH
3    MD
dtype: object

### Using .reset_index()

In [5]:
new_east = northeast.append(south).reset_index(drop=True)

new_east.head(11)

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
9     DE
10    FL
dtype: object

### Using concat()

In [6]:
east = pd.concat([northeast, south])

east.head(11)

0    CT
1    ME
2    MA
3    NH
4    RI
5    VT
6    NJ
7    NY
8    PA
0    DE
1    FL
dtype: object

In [7]:
east.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  0,  1,  2,  3,  4,  5,  6,  7,
             8,  9, 10, 11, 12, 13, 14, 15, 16],
           dtype='int64')

### Using ignore_index

In [8]:
new_east = pd.concat([northeast, south],
                    ignore_index=True)

new_east.head(11)

0     CT
1     ME
2     MA
3     NH
4     RI
5     VT
6     NJ
7     NY
8     PA
9     DE
10    FL
dtype: object

In [9]:
new_east.index

RangeIndex(start=0, stop=26, step=1)

---
# Letâ€™s practice!

---
# Appending & concatenating DataFrames

### Loading population data