# Indexing time series

## Using pandas to read datetime objects

- `read_csv()` function
    - Can read strings into dateime objects
    - neeto specify `parse_dates = True`
- ISO 8601 format
    - `yyy-mm-dd hh:mm:ss`

In [3]:
import pandas as pd

In [5]:
sales = pd.read_csv('sales-feb-2015.csv', parse_dates = True, index_col='Date')

sales.head()

                       Company   Product  Units
Date
2015-02-26 08:57:45  Streeplex   Service      4
2015-02-16 12:09:19      Hooli  Software     10
2015-02-03 14:14:18    Initech  Software     13
2015-02-02 08:33:01      Hooli  Software      3
2015-02-25 00:29:00    Initech   Service     10

## Parse dates

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2015-02-26 08:57:45 to 2015-02-21 20:41:47
Data columns (total 3 columns):
Company    20 non-null object
Product    20 non-null object
Units      20 non-null int64
dtypes: int64(1), object(2)
memory usage: 640.0+ bytes

## Selecting single datatime

In [9]:
sales.loc['2015-02-19', 'Company']

Date
2015-02-19 16:02:58    Mediacore
2015-02-19 10:59:33    Mediacore
Name: Company, dtype: object

## Selecting wghole day

In [10]:
sales.loc['2015-2-5']

                             Company   Product  Units
Date
2015-02-05 01:53:06  Acme Coporation  Software     19
2015-02-05 22:05:03            Hooli   Service     10